<%= form_with model: [@post, @post.comments.build], local: false, class: 'comment_form' do |form| %>


  <div class="field py-2">
    <%= form.text_area :body, rows: 2, placeholder: 'Input comment', class: "form-control" %>
  </div>

  <%= form.hidden_field :parent_id, value: parent_id if parent_id.present? %>
  <div class="actions py-2">
    <%= form.submit(class: "btn btn-info") %>
  </div>
<% end %>
